.container {
    margin: auto;
    width: 80%;
    height: 600px;
    background: gainsboro;
    padding: 150px 50px 50px 50px;
    font-family: 'Open Sans', sans-serif;
}

.thumbnails {
    text-align: center;
    margin: 30px 0px 0px 0px;
    border: none;
    position: relative;
}

a {
    display: inline;
    
}

.thumbnail{
    border: 4px solid azure;
    
    
}

.activethumbnail{
    border: 6px solid lightsteelblue;
}

.hint {
    position: absolute;
    /* top: -45px; */
    /* left: 455px; */
    border: 4px solid azure;
    display: none;
}

.bigArea {
    margin: auto;
    width: 79.5%;
    height: 453px;
    /* background: green; */
    display: flex;
    justify-content: center;
}

.arrow {
    width: 5%;
    height: 453px;
    flex-grow: 1;
    background: azure;
}

.pictureAndText {
    width: 89%;
    height: 453px;
    flex-grow: 0;
    flex-basis: auto;
    /* background: red; */
}

.pictures {
    width: 100%;
    height: 453px;
    /* background: yellow; */
    position: relative; 
}


.text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;;
    opacity: 0.5;
}

.arrow img {
    display: block;
    margin: auto;
    margin-top: 215px;
    margin-bottom: 215px;;
    
}

.right {
    transform: rotate(180deg);
}

/* .thumbnail:hover {
    border: 6px solid red;
}
 */
